* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    background-color: lightgray;
    height: 310px;
    width: 310px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid white;
    font-size: 4rem;
}

.player-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}