* {
    box-sizing: border-box;
}

.main-container, .calc-container, .number-container, .number-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-container {
    flex-direction: column;
}

.number-container > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1px;
}

.number-container > div > div:hover, .display:hover, .delete:hover {
    border: 2px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.display, .delete {
    height: 50px;
    width: 208px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}