* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
}

.card {
    height: 200px;
    background-color: #b6d3d6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 0px 5px 1px #9c9c9c;
}

table th {
    width: 150px;
    border: 1px solid black;
}