* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}

.card {
  height: 225px;
  background-color: #b6d3d6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 0px 5px 1px #9c9c9c;
}

table th {
  width: 150px;
  border: 1px solid black;
}

.sidebar-container {
  background-color: #b6d3d6;
  border-radius: 10px;
  box-shadow: 1px 0px 5px 1px #9c9c9c;
}

.sidebar form {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 20px;
  font-size: 1.1rem;
}

label {
  display: block;
}

input[type="submit"],
.remove-button, .toggle-read {
    margin: 5px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: lightcoral;
  box-shadow: 1px 0px 5px 1px #9c9c9c;
}
