body {
  display: flex;
  justify-content: center;
}

header, footer {
    background-color: #1f2937;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  gap: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    gap: 30px;
}

.hero-item {
    flex: 1;
    height: 200px;
}

.hero-item h3 {
    font: 48px bolder; 
    color: #f9faf8;
}

.hero-item img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

