* {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.divRow {
    display: flex;
    width: 100%;
}

.divCell {
    width: 100%;
    border: 1px solid black;
}